.container {
  display: flex;
  align-items: flex-start;
}

aside {
  width: 20em;
  height: 100vh;
  padding: 2em;
  background-color: #4d4d4d;
  color: aliceblue;
  margin-right: 2em;
}

aside a {
  color: #b3deec;
  text-decoration: none;
}

main {
  flex-grow: 1;
  max-width: 40em;
  line-height: 1.5;
  padding: 4em 1em;
}

h1 {
    font-family: Arial;
    margin-top: 1em;
    padding-top: 1em;
}

h2 {
    font-family: sans-serif;
    background-color: rgb(135, 174, 230);
}